html{
    background-color: rgb(24, 24, 24);
}

a {
    position: relative;
    display: block; 
    font-family: Lato, sans-serif;
    color: #c2cacc;
    text-decoration: none;
    left: 500px;
}

h3{
    color: rgb(93, 185, 0);
}